/* components/PatientInfo.css */
.patient-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  
  .barcode-info {
    margin-bottom: 2rem;
  }
  
  .patient-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .patient-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .patient-details h2 {
    font-size: 1.5rem;
  }
  
  .patient-details p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  @media (max-width: 768px) {
    .patient-info-container {
      padding: 1rem;
    }
  
    .patient-details h2 {
      font-size: 1.2rem;
    }
  
    .patient-details p {
      font-size: 0.9rem;
    }
  }
  /* In your main CSS file */
.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: darkred;
}
